# Terraform outputs from ../infra (terraform output <name>)
VITE_API_BASE_URL=https://xxxxxxxxxx.execute-api.us-east-1.amazonaws.com
VITE_IOT_ENDPOINT=xxxxxxxxxxxxxx-ats.iot.us-east-1.amazonaws.com
VITE_IOT_TOPIC=emidss/live-tracking
VITE_COGNITO_IDENTITY_POOL_ID=us-east-1:00000000-0000-0000-0000-000000000000
VITE_AWS_REGION=us-east-1

# https://account.mapbox.com/access-tokens/
VITE_MAPBOX_TOKEN=pk.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
